{% extends 'globals/index.html' %}

{% block title %}Atualizar Balança{% endblock %}

{% block content %}
    <div class="container justify-content-center mt-04">
        <div class="card my_class" style = 'max-width: 500px; margin: auto;'>
            <div class="card-header text-center">
                <h1>Atualizar Balança</h1>
            </div>
            <div class="card-body">
                <form action="/atualizar_balanca/{{ balanca.id }}/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label" for="marca">Marca:</label>
                        <input class="form-control" type="text" name="marca" id="marca" value="{{ balanca.marca }}">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="modelo">Modelo:</label>
                        <input class="form-control" type="text" name="modelo" id="modelo" value="{{ balanca.modelo }}">
                    </div>
                    <input class="btn btn-outline-success mt-1" type="submit" value="Atualizar">
                </form>
            </div>
        </div>
    </div> 
{% endblock %}