{% extends 'globals/index.html' %}

{% block title %}Cadastro Cliente{% endblock %}

{% block content %}
    <div class="container justify-content-center mt-4">
        <div class="card my_class" style="max-width: 500px; margin: auto;">
            <div class="card-header text-center">
                <h1>Cadastro de Cliente</h1>
            </div>
            <div class="card-body">
                <!-- Exibir erro caso exista -->
                {% if error %}
                    <div class="alert alert-danger text-center">
                        {{ error }}
                    </div>
                {% endif %}

                <form action="/criar_cliente/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label" for="nome">Nome:</label>
                        <input class="form-control" type="text" name="nome" id="nome">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="contato">Contato:</label>
                        <input class="form-control" type="text" name="contato" id="contato">
                    </div>
                    <input class="btn btn-success mt-1" type="submit" value="Criar">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
