{% extends 'globals/index.html' %}

{% block title %}Listas{% endblock %}

{% block content %}
    <form action="{% url 'listas_orcamentos' %}" method="get" class="d-flex justify-content-center">
        <input class="form-control me-2" type="text" name="nome" id="nome" placeholder="Pesquisa" style="width: 250px;">
        <button class="btn btn-primary" type="submit">Pesquisar</button>
    </form>

    

        <!-- Accordion para Orçamentos -->
        <h2 class="text-center">Lista de Orçamentos</h2>
        <div class="d-flex justify-content-center">
            <div class="table-container table-responsive" style="max-width: 1200px; width: 100%;">
                <table class="table table-striped table-bordered w-100 mx-auto">
                    <thead class="table-dark">
                        <tr>
                            <th>Cliente</th>
                            <th>Balança</th>
                            <th>Número de Série</th>
                            <th>Problema citado pelo Cliente</th>
                            <th>Data de Chegada</th>
                            <th>Data de Entrega</th>
                            <th>Orçamento</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orcamento in lista_orcamentos %}
                            <tr>
                                <td>{{ orcamento.cliente }}</td>
                                <td>{{ orcamento.balanca }}</td>
                                <td>{{ orcamento.num_serie_balanca }}</td>
                                <td>{{ orcamento.problema_pelo_cliente }}</td>
                                <td>{{ orcamento.data_chegada }}</td>
                                <td>{{ orcamento.data_entrega }}</td>
                                <td>{{ orcamento.orcamento }}</td>
                                <td>{{ orcamento.valor }}</td>
                                <td>{{ orcamento.status }}</td>
                                <td>
                                    <a href="/atualizar_orcamento/{{ orcamento.id }}" class="btn btn-primary btn-sm">Atualizar</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="{{ orcamento.id }}" data-type="orcamento">
                                        Deletar
                                    </button>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="10">Nenhum orçamento encontrado</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    <!-- Modal de Confirmação -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Você tem certeza que deseja deletar este item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="#" class="btn btn-danger" id="confirmDeleteBtn">Deletar</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer fixed-bottom" style="position: fixed; right: 20px; bottom: 10px;">
        <div>
            <span class="rounded-pill" style="width:100px; height: auto; background-color: aliceblue; display: inline-block; text-align: center;">
                <a href="/" class="nav-link m-3">Topo ⬆</a>
            </span>
        </div>
    </footer>

    <script>
        // Script para abrir o modal de confirmação de delete
        var confirmDeleteModal = document.getElementById('confirmDeleteModal');
        confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var type = button.getAttribute('data-type');
            var deleteUrl = '';

            // Determina a URL de exclusão correta para cada tipo de item
            if (type === 'orcamento') {
                deleteUrl = '/deletar_orcamento/' + id;
            } else if (type === 'cliente') {
                deleteUrl = '/deletar_cliente/' + id;
            } else if (type === 'balanca') {
                deleteUrl = '/deletar_balanca/' + id;
            }

            // Altera o href do botão "Deletar" no modal para a URL correta
            var confirmDeleteBtn = confirmDeleteModal.querySelector('#confirmDeleteBtn');
            confirmDeleteBtn.setAttribute('href', deleteUrl);
        });
    </script>

{% endblock content %}
